@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "MegaDesk - Delete a Quote";

    var name = "";
    var total = 0;
    var quoteId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["Id"].IsEmpty() && Request.QueryString["Id"].IsInt())
        {
            quoteId = Request.QueryString["Id"];
            var db = Database.Open("MegaDesk");
            var dbCommand = "SELECT dq.DeskQuoteId, dq.CustomerName, d.Width, d.Depth, d.SurfaceMaterial, d.NumberOfDrawers, dq.RushOption, dq.FinalQuote, dq.QuoteDate FROM DeskQuote dq INNER JOIN Desk d ON dq.DeskId = d.DeskId WHERE dq.DeskQuoteId = @0";
            var row = db.QuerySingle(dbCommand, quoteId);
            if (row != null)
            {
                name = row.CustomerName;
                total = row.FinalQuote;
            }
            else
            {
                Validation.AddFormError("No quote was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No quote was found for that ID.");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        quoteId = Request.Form["quoteId"];
        var db = Database.Open("MegaDesk");
        var deleteDeskQuote = "DELETE FROM DeskQuote WHERE DeskQuoteId = @0";
        db.Execute(deleteDeskQuote, quoteId);

        var deleteDesk = "DELETE FROM Desk WHERE DeskId = @0";
        db.Execute(deleteDesk, quoteId);

        Response.Redirect("~/MainMenu");
    }
}

<header class="w3-container w3-blue-grey"><h2>Delete a Quote</h2></header>
<div>
@Html.ValidationSummary()
    </div>
<form method="post" class="w3-container">
    <fieldset class="w3-card-4">
        <p>
            <span>Name:</span>
            <span>@name</span>
        </p>

        <p>
            <span>Total:</span>
            <span>$@total</span>
        </p>

        <input type="hidden" name="quoteId" value="@quoteId" />
        <p><input type="submit" name="buttonDelete" value="Delete Quote" class="w3-button w3-light-grey"/></p>
    </fieldset>
</form>
<p><a href="~/MainMenu" class="w3-button w3-light-grey">Return to Quotes</a></p>