@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "List Quotes";

    var db = Database.Open("MegaDesk");
    var selectCommand = "SELECT * FROM DeskQuote";
    var searchTerm = "";

    if (!Request.QueryString["searchName"].IsEmpty())
    {
        selectCommand = "SELECT * FROM DeskQuote WHERE CustomerName LIKE @0";
        searchTerm = "%" + Request["searchName"] + "%";
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Date", rowsPerPage: 5);
}
<div id="form" style="background-image:url(http://www.woodntap.com/packages/theme_wnt/themes/woodntap/css/images/background-pattern.jpg);width:100%;height:100%">
    <h2 style="color:white">List Quotes</h2>
    <form method="get" >
        <div id="search">
            <label id="lblSearch" style="color:white;" for="searchName">Search by Customer Name:</label>
            <input type="text" name="searchName" value="@Request.QueryString["searchName"]" />
            <input type="Submit" value="Search" /><br />
        </div>
    </form>
    <div>
        @grid.GetHtml(
            tableStyle: "grid",
            headerStyle: "head",
            alternatingRowStyle: "alt",
            columns: grid.Columns(
                grid.Column(format: @<a href="~/EditQuote?id=@item.Id">Edit</a>),
                            grid.Column("Date"),
                            grid.Column("CustomerName"),
                            grid.Column("Depth"),
                            grid.Column("Width"),
                            grid.Column("DrawerCount"),
                            grid.Column("Material"),
                            grid.Column("RushDays"),
                            grid.Column("Total"),
                            grid.Column(format: @<a href="~/DeleteQuote?id=@item.Id">Delete</a>)))
    </div>
    <p>
        <a style="color:white;" href="~/AddQuote">Add a Quote</a>
    </p>
</div>