<!DOCTYPE html>
<html>
<head>
    <title>Main Menu</title>
</head>
<body>
    @{ 
        WebGrid grid = new WebGrid();
    }
    <footer>
        &copy;@DateTime.Now.Year
    </footer>
</body>
</html>
