<!DOCTYPE html>
<html>
<head>
    <title>Main Menu</title>
</head>
<body>
    @{ 
        WebGrid grid = new WebGrid();

        // var db = WebMatrix.Data.Database.Open("put database here");
        //var shows_data = db.Query("SELECT * FROM shows");
        //var shows_grid = new WebGrid(source: shows_data);
    }
    <footer>
        &copy;@DateTime.Now.Year
    </footer>
</body>
</html>
