@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Welcome to MegaDesk";

    var db = Database.Open("MegaDesk");
    var selectCommand = "SELECT dq.DeskQuoteId, dq.CustomerName, d.Width, d.Depth, d.SurfaceMaterial, d.NumberOfDrawers, dq.RushOption, dq.FinalQuote, dq.QuoteDate FROM DeskQuote dq INNER JOIN Desk d ON dq.DeskId = d.DeskId";
    var searchTerm = "";

    if (!Request.QueryString["searchName"].IsEmpty())
    {
        selectCommand = "SELECT dq.CustomerName, d.Width, d.Depth, d.SurfaceMaterial, d.NumberOfDrawers, dq.RushOption, dq.FinalQuote, dq.QuoteDate FROM DeskQuote dq INNER JOIN Desk d ON dq.DeskId = d.DeskId WHERE dq.CustomerName LIKE @0";
        searchTerm = "%" + Request["searchName"] + "%";
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "QuoteDate", rowsPerPage: 5);
}

<head>
    <meta charset="utf-8" content="width=device-width" />
    <style type="text/css">
        .grid {
            margin: 4px;
            border-collapse: collapse;
            width: 600px;
        }

            .grid th, .grid td {
                border: 1px solid #C0C0C0;
                padding: 5px;
            }

        .head {
            background-color: #E8E8E8;
            font-weight: bold;
            color: #FFF;
        }

        .alt {
            background-color: #E8E8E8;
            color: #000;
        }
    </style>
</head>
<div id="form">
    <h2>List Quotes</h2>
    <form method="get" >
        <div id="search">
            <label for="searchName">Search by Customer Name:</label>
            <input type="text" name="searchName" value="@Request.QueryString["searchName"]" />
            <input type="Submit" value="Search" /><br />
        </div>
    </form>
    <div>
        @grid.GetHtml(
            tableStyle: "grid",
            headerStyle: "head",
            alternatingRowStyle: "alt",
            columns: grid.Columns(
                            grid.Column(format: @<a href="~/EditQuote?id=@item.DeskQuoteId">Edit</a>),
                            grid.Column("CustomerName"),
                            grid.Column("Width"),
                            grid.Column("Depth"),
                            grid.Column("NumberOfDrawers"),
                            grid.Column("SurfaceMaterial"),
                            grid.Column("RushOption"),
                            grid.Column("FinalQuote"),
                            grid.Column("QuoteDate", format: (item) => string.Format("{0:MM-dd-yyyy}", item.QuoteDate)),
                            grid.Column(format: @<a href="~/DeleteQuote?id=@item.DeskQuoteId">Delete</a>))) 
    </div>
    <p>
        <a href="~/AddQuote">Add a Quote</a>
    </p>
</div>